/* Optional app-specific CSS goes here */


/*  ------------------------
    Temp styles                   */

div.creature-datasheet .img-cell img {
  max-height: 250px;
}


div.creature-datasheet {
  margin: 10px;
  background-color: #ffffff;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.creature-datasheet table.top-table {
	border: 1px solid #DDDDDD;
	min-width: 600px;
}

.creature-datasheet table.top-table > tbody > tr > td {
	padding: 2px 8px 2px 3px;
}

.creature-datasheet table.top-table > tbody > tr > th {
  padding: 2px 15px 2px 5px;
	font-weight: bold;
	width:220px;
}

.creature-datasheet table.top-table > tbody > tr {
	background: white;
}

.creature-datasheet table.top-table > tbody > tr:nth-child(2n+1){
	background: #F8F8F8;
}

.creature-datasheet table.top-table div.detail {
  padding:5px;
}


/*  ---------------------------------------------------- */

