/* Optional app-specific CSS goes here */


/*  ------------------------
    Temp styles                   */

div.creature-datasheet .img-cell {
  /*max-height: 250px;*/
  max-width: 250px;
  padding-right:15px;
}

div.creature-datasheet.page .img-cell {
  max-width: 275px;
  padding-right:15px;
}



/*
div.creature-datasheet .img-cell > * {
  display: block;
}
*/

div.creature-datasheet {
  margin: 5px;
  background-color: #ffffff;
  color: #333333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
}

div.creature-datasheet.page {
  margin: 0px;
}

.creature-datasheet table.top-table {
	border: 1px solid #DDDDDD;
	/*min-width: 600px;*/
}

.creature-datasheet.page table.top-table {
	border: 0px;
	/*min-width: 600px;*/
}

.creature-datasheet table.top-table > tbody > tr > td {
	padding: 2px 8px 2px 3px;
}

.creature-datasheet table.top-table > tbody > tr > th {
  padding: 2px 15px 2px 5px;
	font-weight: bold;
	width:220px;
}

.creature-datasheet table.top-table > tbody > tr {
	background: white;
}

.creature-datasheet table.top-table > tbody > tr:nth-child(2n+1){
	background: #F8F8F8;
}

.creature-datasheet table.top-table div.detail {
  padding:5px;
  max-width: 550px;
}


/*  ---------------------------------------------------- */


.creature-datasheet table.top-table.nest {
   width:100%;
   vertical-align: top;
}
.creature-datasheet table.top-table.nest > tbody > tr > th {
	white-space:nowrap;
	width:40%;
}

.creature-page-link {
  text-decoration:none;
  color:blue;
  font-size:12px;
}

.editing-record .creature-page-link {
  visibility: hidden;
}


div.weight-chart-wrap {
  max-width:100%;
  min-height:200px;
}


div.no-chart-data-wrap {  
  position: relative;
}

div.no-chart-data {
  position:absolute;
  top: 15px; right: 15px; bottom: 15px; left: 15px;
  border:1px solid #dddddd;
  text-align: center;
  color:grey;
}


.shadow {
  -webkit-box-shadow: 8px 6px 6px -6px #777;
     -moz-box-shadow: 8px 6px 6px -6px #777;
          box-shadow: 8px 6px 6px -6px #777;
}


div.diet_type_badge_wrap {
  text-indent: 25px;
}

div.diet_type_badge {
  width: 120px;
  height: 120px;
  background-position: center center;
  background-repeat: no-repeat;
}

div.diet_type_badge.carnivore {
  background-image: url(../../../assets/local/misc/static/img/carnivore_120.png);
}

div.diet_type_badge.herbivore {
  background-image: url(../../../assets/local/misc/static/img/herbivore_120.png);
}

div.diet_type_badge.omnivore {
  background-image: url(../../../assets/local/misc/static/img/omnivore_120.png);
}

div.diet_type_badge > span.title {
  font-style: italic;
  font-size: 1.2em;
}
