
<!--
<title class="ra-icon-add"><i style="color:green;">[% Row.name %]&nbsp;</i></title>
-->

<title>[% Row.name %]</title>

<div class="creature-datasheet">

  <h4>Creature datasheet</h4>
  
  <table class="top-table">
    <tr>
      <th>Name:</th>
      <td>[% r.autofield.name %] 
      <i style="float:right;color:grey;">([% r.renderfield.species %])</i></td>
    </tr>
    <tr>
      <td colspan=2 class="img-cell">

        [% r.autofield.image_html %]

      </td>
    </tr>
      
    <tr>
      <td colspan=2>
        <b>Details &ndash; <i>{name}</i></b>
        <div class="detail">
          [% r.autofield.detail %]
        </div>
      </td>
    </tr>
    
    <tr>
      <th>Species:</th>
      <td>[% r.autofield.species %]</td>
    </tr>

    <tr>
      <th>Date of Birth:</th>
      <td>[% r.autofield.dob %]</td>
    </tr>

    <tr>
      <th>DOB (raw column value, ro):</th>
      <td>{dob}</td>
    </tr>

    <tr style="vertical-align:top;">
      <th >
        Weight History:
      </th>
      <td>
        <div class="detail" style="width:400px;padding-bottom:15px;">
          
          <div style="float:right;font-size:0.8em;width:200px;padding-left:10px;">
            <b><i style="color:darkgreen">Quick Record:</i></b> [% r.autofield.quick_record_weight %]
          </div>
          
          [% r.autofield.weight_chart %]
          
          <div style="padding-left:35px;">
              [% r.autofield.creature_weight_logs %]
          </div>
          <div style="float:right;padding-right:5px;font-size:0.8em;">
            <b>Last Weight:</b> [% r.autofield.last_weight %] lbs
          </div>
          
          
        </div>

      </td>
    </tr>
    

    <tr>
      <th>High-risk animal ?:</th>
      <td>[% r.autofield.high_risk %]</td>
    </tr>

    <tr>
      <th>Market value ?:</th>
      <td>[% r.autofield.market_value %]</td>
    </tr>

    <tr>
      <th>Other cool datapoint:</th>
      <td>Other cool content</td>
    </tr>

    <tr>
      <th>Enclosure:</th>
      <td>[% r.autofield.enclosure %]</td>
    </tr>
    
    <tr>
      <td colspan=2>
        <b>Species info</b>
        <div class="detail">
          [% r.autofield.species__about %]
        </div>
      </td>
    </tr>
    
    
  </table>

</div>