

<title class="ra-icon-add"><i style="color:green;">[% Row.name %]&nbsp;</i></title>

<!--
-->


<div class="creature-info">

  <div>
  [% r.autofield.name %]
  </div>
  
  <br><br>

  <div>
  [% r.autofield.species %]
  </div>
  
  <br><br>

  <div>
  [% r.autofield.image_html %]
  </div>
  
  <br><br>

  <div>
  [% r.autofield.dob %]
  </div>
  
  <br><br>
  
  dob (read-only): {dob}
  
  <br><br>

  <div>
  [% r.autofield.high_risk %]
  </div>
  
  <br><br>

  <div>
  [% r.autofield.market_value %]
  </div>
  
  <br><br>

  <div>
  [% r.autofield.enclosure %]
  </div>
  
  <br><br>

  <div>
  [% r.autofield.detail %]
  </div>

</div>