
<!--
<title class="ra-icon-add"><i style="color:green;">[% Row.name %]&nbsp;</i></title>
-->

<title>[% Row.name %]</title>
<style>

.x-panel-body{
	background-color:#E7E9EC;
}

.creature-datasheet{
	background-color:#E7E9EC !important;
	padding:10px
}

.creature-datas-title{
	padding:20px;
	background-color:#FFFFFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15),
			-1px 0px 0px rgba(0, 0, 0, 0.03),
			1px 0px 0px rgba(0, 0, 0, 0.03),
			0px 1px 0px rgba(0, 0, 0, 0.12);
	margin-bottom:20px;
	text-transform: uppercase;
}

.top-table{
	border:none !important;
	width:100%
}

.top-table .top-table{
	border:1px solid #eee !important;
}

.trbg{
	background-color:#E7E9EC !important;
}

.trbgdeux{
	background-color:#FFFFFF !important;
}

div.appdv-tt-generated.blk .appdv-edit-field.inln {
	margin-right: 0px !important;
}

 .athelstan{
	padding: 0px 0px 20px 0px !important;
}

.speciesinfos,
.whitebloc,
.nest,
.img-cell{
	background-color:#FFFFFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.15),
		    -1px 0px 0px rgba(0, 0, 0, 0.03),
		    1px 0px 0px rgba(0, 0, 0, 0.03),
		    0px 1px 0px rgba(0, 0, 0, 0.12);
	padding:20px !important;
	max-width: 100% !important;
	width: calc( 100% - 40px );
	height: calc( 100% - 40px );
}

.gauche{
	border-right: 20px solid transparent;
}

.nest{
	margin:0 0px 20px 0;
	height:100%
}

.nest-td{
	height:100%;
}

.speciesinfos{
	border: 20px solid #fff;
}

.nestth,
.titlebloc{
	text-transform: uppercase;
	color:#333;
	padding-bottom:20px;
}

.inln{
	color:#777;
	line-height:1.5em
}
</style>

<div class="creature-datasheet page">

  <h4 class="creature-datas-title">Creature datasheet</h4>
  
  <table class="top-table">
    <tr></tr>
    <tr class="trbg">
      <td class="gauche athelstan">
        <div class="img-cell">
          [% r.autofield.image %]
          <div style="padding-left:10px;padding-bottom:10px;">
            <span style="font-size:10px;">File:</span> 
            [% r.autofield.attachment %]
          </div>
        </div>
      </td>
      <td style="vertical-align:top;" class="nest-td athelstan"">
        <table class="top-table nest">
          <tr class="trbgdeux">
            <th class="nestth">Name:</th>
            <td>[% r.autofield.name %]</td>
          </tr>
          <tr class="trbgdeux">
            <th class="nestth">Species:</th>
            <td>[% r.autofield.species %]</td>
          </tr>
          <tr class="trbgdeux">
            <th class="nestth">Date of Birth:</th>
            <td>[% r.autofield.dob %] <i>({age_years} years old)</i></td>
          </tr>
          <tr class="trbgdeux">
            <th class="nestth">Market value ?:</th>
            <td>[% r.autofield.market_value %]</td>
          </tr>
          <tr class="trbgdeux">
            <th class="nestth">High-risk animal ?:</th>
            <td>[% r.autofield.high_risk %]</td>
          </tr>
          <tr class="trbgdeux">
            <th class="nestth">Enclosure:</th>
            <td>[% r.autofield.enclosure %]</td>
          </tr>
        </table>
      </td>
    </tr>
  
      
    <tr class="trbg" style="vertical-align:top;">
      <td class="gauche athelstan">
        <div class="whitebloc detail">
	  <b>Details &ndash; <i>{name}</i></b>
          [% r.autofield.detail %]
        </div>
      </td>
      <td class="athelstan">
        
        <div class="whitebloc detail" style="width:calc( 100% - 40px);padding-bottom:15px;">
          <div style="padding-left:10px;"><b>Weight History:</b></div>
          <div style="float:right;font-size:0.8em;width:200px;padding-left:10px;">
            <b><i style="color:darkgreen">Quick Record:</i></b> [% r.autofield.quick_record_weight %]
          </div>
          
          [% r.autofield.weight_chart %]
          
          <div style="padding-left:35px;">
              [% r.autofield.creature_weight_logs %]
          </div>
          <div style="float:right;padding-right:5px;font-size:0.8em;">
            <b>Last Weight:</b> [% r.autofield.last_weight %] lbs
          </div>
          
          
        </div>

      </td>
    </tr>
    

    
    <tr class="trbg">
      <td class="speciesinfos athelstan" colspan=2>
        <div style="float:left">
          <b>Species info</b>
          <div class="detail">
            [% r.autofield.species__about %]
          </div>
        </div>
        <div style="float:right" class="diet_type_badge_wrap">
          <div class="diet_type_badge {species__diet_type__cls}">
            <span class="title">Diet Type</span>
          </div>
          [% r.autofield.species__diet_type %]
        </div>
      </td>
    </tr>
    
    
  </table>

</div>
