<div class="dashboard">
  <div class="cell first">
    <h5>
      <a 
        class="with-icon icon-bugs-yellow"
        href="[% c.mount_url %]/creatures"
      >Creatures Listing (Custom DataView)</a>
    </h5>

    <h5>
      <a 
        class="with-inline-icon icon-bugs-yellow"
        href="[% c.mount_url %]/creature_grid"
      >Creature Grid (reference)</a>
    </h5>
    
    <br>
  
    <div class="rich-box">
      [% INCLUDE stuff/rich.tt %]
    
    </div>
    
  </div>
  
  <div class="cell">
    <h4 style="padding-left:30px;">Creatures by Species</h4>
    <canvas height="300" width="350">
      <!-- here we're using an <img> tag so we can hijack its onload event -->
      <img 
        src="[% c.mount_url %]/assets/rapidapp/misc/static/s.gif" 
        onload='RA.ux.cZoo.imgRenderSpeciesBarChart.call(this,[% species_chart_data_json %])' 
      >
    </canvas>
  </div>
    

  <div class="cell">
    <h4>Creatures by Diet</h4>
    <div style="padding-top:10px;"></div>
    <canvas height="125" width="125">
      <!-- here we're using an <img> tag so we can hijack its onload event -->
      <img 
        src="[% c.mount_url %]/assets/rapidapp/misc/static/s.gif" 
        onload='RA.ux.cZoo.imgRenderDietTypePieChart.call(this,[% diet_type_data %],"dash-pie-legend")' 
      >
    </canvas>
    <div id="dash-pie-legend"></div>
  </div>
  
  </div>
</div>


<!--

</div>

<div style="float:left;padding-right:50px;">
  <h3>Cool dashboard goes here...</h3>
  <br>


  
  <br><br>
  
  <div style="padding:10px;border:1px solid;border-color:#d0d0d0;">
    [% INCLUDE stuff/rich.tt %]
  
  </div>
  
  
</div>
   
<div style="display:inline-block;width:400px;padding:25px;">
  <div>
    <div><b>By Species:</b></div>
    <canvas height="250" width="400">

      <img 
        src="[% c.mount_url %]/assets/rapidapp/misc/static/s.gif" 
        onload='RA.ux.cZoo.imgRenderSpeciesBarChart.call(this,[% species_chart_data_json %])' 
      >
    </canvas>
  </div>
  
  <br>
  
  <div>
    <div><b>By Diet:</b></div>
    <br>
    <canvas height="175" width="175" style="padding-left:20px;">

      <img 
        src="[% c.mount_url %]/assets/rapidapp/misc/static/s.gif" 
        onload='RA.ux.cZoo.imgRenderDietTypePieChart.call(this,[% diet_type_data %])' 
      >
    </canvas>
  </div>
  
</div>
-->