

<div style="float:left;padding-right:50px;">
  <h3>Cool dashboard goes here...</h3>
  <br>

  <h5>
    <a 
      class="with-icon icon-bugs-yellow"
      href="#!/creatures"
    >Creatures Listing (Custom DataView)</a>
  </h5>

  <h5>
    <a 
      class="with-inline-icon icon-bugs-yellow"
      href="#!/creature_grid"
    >Creature Grid (reference)</a>
  </h5>
</div>
   
<div style="display:inline-block;width:400px;padding:25px;">
  <div>
    <div><b>By Species:</b></div>
    <canvas height="250" width="400">
      <!-- here we're using an <img> tag so we can hijack its onload event -->
      <img 
        src="[% c.mount_url %]/assets/rapidapp/misc/static/s.gif" 
        onload='RA.ux.cZoo.imgRenderSpeciesBarChart.call(this,[% species_chart_data_json %])' 
      >
    </canvas>
  </div>
  
  <br>
  
  <div>
    <div><b>By Diet:</b></div>
    <br>
    <canvas height="175" width="175" style="padding-left:20px;">
      <!-- here we're using an <img> tag so we can hijack its onload event -->
      <img 
        src="[% c.mount_url %]/assets/rapidapp/misc/static/s.gif" 
        onload='RA.ux.cZoo.imgRenderDietTypePieChart.call(this,[% diet_type_data %])' 
      >
    </canvas>
  </div>
  
</div>
